body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: white;
  list-style: none;
}
.logo1 {
  color: #2196f3;
}
.logo {
  color: #000000;
  text-decoration: none;
}
.site-navigation .link {
  color: #212121;
}
.site-navigation .link:hover,
.site-navigation .link:focus {
  color: #2196f3;
}
.contacts .link {
  color: #757575;
}
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}
